[2021-09-28 11:45] srushti1006 opened #2 "Problem_Statement_1"
Sneha is a student at Cummins College of engineering Pune. One day she has to distribute some chocolates
to her friends. She is biased towards her friends and plans to give them more than the others. One of the
professor hears of this and tells her to make sure everyone gets the same number. To make things difficult,
she must equalize the number of chocolates in a series of operations. For each op

[2021-09-28 11:47] srushti1006 opened #3 "Problem_Statement_2"
An insect is crossing a road. The road is divided into some number of units, and at each unit, there may or may not exist a leaf. An insect can jump on a leaf, but it must not jump on road.
Given a list of leaf's positions (in units) in sorted ascending order, determine if an insect can cross the road by landing on the last leaf. Initially, an insect is on the first leaf and assumes the first jump

[2021-09-28 11:51] Krush2311 opened #4 "Problem_Statement_19"
Write a general purpose function to display any given number as its roman equivalent. (Eg. 10 = X)

[2021-09-28 11:54] Gaurika-Gupta opened #5 "Problem_Statement_11"
Write a function howSum (targetSum, numbers) that takes in a targetSum and an array of numbers of arguments.
The function should return an array containing any combination of elements that add up to exactly the targetSum.
If there is no combination that adds up to the targetSum, then return null.
If there are many combinations then return any single one. A Number in numbers can be repeated any num

[2021-09-28 11:54] nilanshijain opened #6 "Problem_Statement_23"
Given an expression string x. Examine whether the pairs and the orders of “{“,”}”,”(“,”)”,”[“,”]” are correct in exp. For example, the function should return 'true' for exp = “[()]{}{[()()]()}” and 'false' for exp = “[(])”.

[2021-09-28 11:56] nilanshijain opened #7 "Problem_Statement_24"
A shopkeeper wishes to give a 10% discount if the cost of the purchased quantity is more than 2500. Ask the user for quantity
Assuming that one unit will cost 250.
Judge and print total cost for the user.

[2021-09-28 11:58] Gaurika-Gupta opened #8 "Problem_Statement_12"
Given two arrays of integers, find a pair of values (one value from each array) that you can swap to give the two arrays the same sum.
Return null if no such set of integers exist.

[2021-09-28 11:58] Krush2311 opened #9 "Problem_Statement_20"
Write a general purpose function to display any given number as a product of its prime factors (Eg. 24 = 2 + 2+ 2+ 3)

[2021-09-28 11:59] ParnaviKulkarni opened #10 "Problem_Statement_27"
In a hospital, there's a waiting room with N chairs set in a single row.
Chairs are consecutively numbered from 1 to N.
The first chair is closest to the door.

For some reason people choose a chair that is:
1. as far from other people as possible
2. and as close to the door as possible
All chairs must be occupied before the first person will be served.
then Find the last patient's chair's number.

[2021-09-28 11:59] nilanshijain opened #11 "Problem_Statement_51"
Write a program taking three inputs from the user and checking (1) all are equal (2) any of two are equal

[2021-09-28 12:01] ParnaviKulkarni opened #12 "Problem_Statement_28"
A friend of mine takes the sequence of all numbers from 1 to n (where n > 0).
Within that sequence, she chooses two numbers, a and b.
She says that the product of a and b should be equal to the sum of all numbers in the sequence, excluding a and b.
Given a number n, could you tell me the numbers she excluded from the sequence?
The function takes the parameter: n (n is always strictly greater than

[2021-09-28 12:02] Gaurika-Gupta opened #13 "Problem_Statement_39"
Make the below pattern. Here, n =4
4 4 4 4 4 4 4
4 3 3 3 3 3 4
4 3 2 2 2 3 4
4 3 2 1 2 3 4
4 3 2 2 2 3 4
4 3 3 3 3 3 4
4 4 4 4 4 4 4

[2021-09-28 12:05] Gaurika-Gupta opened #14 "Problem_Statement_40"
There is a list of positive integers, arrange them in such a way that they form the largest number possible from those digits.
For example:
Given [2, 30, 34, 6, 9], the largest formed number is 9634230.
Note: The result may be very large, so you need to return a string instead of an integer.

[2021-09-28 12:10] srushti1006 opened #15 "Problem_Statement_29"
Given a wire of length in inches and an array of prices that includes prices of all pieces of size smaller than n. Determine the maximum value obtainable by cutting up the wire and selling the pieces. For example, if the length of the wire is 8 and the values of different pieces are given as the following, then the maximum obtainable value is 22 (by cutting in two pieces of lengths 2 and 6)

lengt

[2021-09-28 12:43] srushti1006 opened #16 "Problem_Statement_30"
Create a function that takes a integer number n and returns the formula for (a+b)n(a+b)^n(a+b)
n
  as a string.

formula(0)  --> "1"
formula(1)  --> "a+b"
formula(2)  --> "a^2+2ab+b^2"
formula(-2) --> "1/(a^2+2ab+b^2)"
formula(3)  --> "a^3+3a^2b+3ab^2+b^3"
formula(5)  --> "a^5+5a^4b+10a^3b^2+10a^2b^3+5ab^4+b^5"
The formula for n=5 is like so :

a5+5a4b+10a3b2+10a2b3+5ab4+b5a^5 + 5a^4b+10a^3b^2+10a

[2021-09-28 16:51] Krush2311 opened #17 "Problem_Statement_57"
Write a program to print the names of students by creating a Student class. If no name is passed
while creating an object of Student class, then the name should be "Unknown", otherwise the name
should be equal to the String value passed while creating object of Student class.

[2021-09-28 16:53] Krush2311 opened #18 "Problem_Statement_47"
Write a program to alphabetically sort a set of names entered by the user .

[2021-09-28 16:55] Krush2311 opened #19 "Problem_Statement_48"
Write a program to find line of best fit for any 5 points entered by the user.
(take input of x and y coordinates of each point from user).

[2021-09-28 16:57] Krush2311 opened #20 "Problem_Statement_58"
Take input of any word from the user and write a program to find out the number
of the permutations of letters of that word.

[2021-09-29 09:31] Krush2311 opened #21 "Problem_Statement_59"
There are three pegs labelled A, B and C. Four disks are placed on peg A. The bottom most disk is
largest, and disk go on decreasing in size with topmost disk being smallest. The objective of the
game is to move the disks from peg A to peg C using peg B as an auxiliary peg.
The rules of the game are:
1) Only one disc may be moved at a time, and it must be the top disk on one of the pegs.
2) A larg

[2021-09-29 10:24] anushka0712 opened #22 "Problem_Statement_3"
You have a factory with M containers filled with an infinite number of chocolates. The containers are arranged in a single row, equally spaced to be 1  meter apart. You also have 2 bots that can pick up a piece of chocolate and transport it between any two containers.
The bots take instructions in the form of queries consisting of two integers, Ma and Mb, respectively. To execute a query, a bot tr

[2021-09-29 12:30] Vis2306 opened #23 "Problem_Statement_6"
Given an unbalanced bracket sequence as a string str, the task is to find whether the given string can be balanced by moving at most one bracket from its original place in the sequence to any other position.
Examples:

Input: str = “)(()”
Output: Yes
As by moving s[0] to the end will make it valid.
“(())”
Input: str = “()))(()”
Output: No

[2021-09-29 12:33] Vis2306 opened #24 "Problem_Statement_5"
Consider two numbers. Show that the sum of the divisors of one number is equal to the sum of the other number and vice versa.
If 220 & 284 are two numbers:
First we find the proper divisors of 220: 1, 2, 4, 5, 10, 11, 20, 22, 44, 55, 110
If you add up all of these numbers you will see that they sum to 284.
Now find the proper divisors of 284: 1, 2, 4, 71, 142 These sum to 220, and therefore 220 &

[2021-09-29 12:34] Vis2306 opened #25 "Problem_Statement_33"
Consider a number. Take the cube of all its digits individually. Check whether the sum of the cubes is equal to the number

[2021-09-29 12:35] Vis2306 opened #26 "Problem_Statement_34"
You have n gifts and you want to give all of them to children. Of course, you don't want to offend anyone, so all gifts should be equal between each other. The i-th gift consists of ai candies and bi oranges.

During one move, you can choose some gift 1≤i≤n and do one of the following operations:

eat exactly one candy from this gift (decrease ai by one);
eat exactly one orange from this gift (dec

[2021-09-29 12:42] AJgthb2002 commented on #17
I would like to work on this issue using Java. I am a student of Cummins College, Pune. Please assign this to me.

[2021-09-29 12:45] AJgthb2002 commented on #5
I would like to contribute to this issue. Please assign it to me. I am a student of Cummins College, Pune

[2021-09-29 12:50] AJgthb2002 commented on #21
I would like to contribute to this issue. Please assign it to me. I am a student of Cummins College, Pune

[2021-09-29 13:33] anushka0712 opened #27 "Problem_Statement_4"
A bracket is considered to be any one of the following characters: (, ), {, }, [, or ].

Two brackets are considered to be a matched pair if the opening bracket (i.e., (, [, or {) occurs to the left of a closing bracket (i.e., ), ], or }) of the exact same type. There are three types of matched pairs of brackets: [], {}, and ().

A matching pair of brackets is not balanced if the set of brackets i

[2021-09-29 13:40] anushka0712 opened #28 "Problem_Statement_31"
Write a function that takes in a string of one or more words, and returns the
same string, but with all five or more letter words reversed .
Strings passed in will consist of only letters and spaces. Spaces will be included only when more than one word is present.
Examples:
rotateWords("Hey fellow friends") => "Hey wollef sdneirf"
rotateWords("This is a dog") => "This is a dog"
rotateWords("This i

[2021-09-29 16:27] vishakha-managoli opened #29 "Problem_Statement_17"
Given an integer n, return the number of ways you can write n as the sum of consecutive positive integers.
Example :
Input: n = 5
Output: 2
Explanation: 5 = 2 + 3

[2021-09-29 16:28] vishakha-managoli opened #30 "Problem_Statement_18"
Given a string num that contains only digits and an integer target, return all possibilities to add the binary operators '+', '-', or '*'
between the digits of num so that the resultant expression evaluates to the target value.
Example :
Input: num = "123", target = 6
Output: ["1*2*3","1+2+3"]

[2021-09-29 16:32] vishakha-managoli opened #31 "Problem_Statement_45"
Given a string s and a dictionary of strings wordDict, return true if s can be segmented into a space-separated sequence
of one or more dictionary words.
Example:
{ i, like, sam, sung, samsung, mobile, ice,
  cream, icecream, man, go, mango}

Input:  ilike
Output: true
The string can be segmented as "i like".

[2021-09-29 16:33] vishakha-managoli opened #32 "Problem_Statement_46"
Given a string s, we can transform every letter individually to be lowercase or uppercase to create another string.
Return a list of all possible strings we could create. You can return the output in any order.
Example:
Input: s = "a1b2"
Output: ["a1b2","a1B2","A1b2","A1B2"]

[2021-09-29 18:21] gauri-bitsandbytes opened #33 "Problem_Statement_25"
A fence is made up of wooden blocks each having width of 1 meter, but varying heights (in meters). Suppose there are N blocks of varying heights. A dog named Bingo wants to cross the wooden fence. For this to happen, you have to cut a rectangular or a square section of the fence. Find out the maximum area that can be cut to allow Bingo to pass through the fence.

**Input:**

- First line will cont

[2021-09-29 18:33] gauri-bitsandbytes opened #34 "Problem_Statement_26"
**Cheapest helicopters within k stops:**
There are n countries connected by some number of helicopters. You are given an array helicopters where helicopters[i] = [sourcei, destinationi, costi] indicates that there is a helicopter from country sourcei to country destinationi with cost costi.

You are also given three integers src, dst, and k, return the cheapest cost from src to dst with at most k

[2021-09-29 18:42] gauri-bitsandbytes opened #35 "Problem_Statement_53"
There's a birthday party in Magicland, and everyone can feel the excitement! There are two towns in Magicland, town A and B, with a population of N people in each. Everyone choses a partner for Salsa dance. Since couple from within the same town is forbidden, you as a match maker need to match people from town A to people from town B. Since people of Magicland are very amicable, most people have n

[2021-09-29 18:53] gauri-bitsandbytes opened #36 "Problem_Statement_54"
**Remove Stones to Minimize the Total**

You are given a **0-indexed** integer array piles, where piles[i] represents the number of stones in the ith pile, and an integer k. You should apply the following operation **exactly** k times:

- Choose any piles[i] and **remove** floor(piles[i] / 2) stones from it.

**Notice** that you can apply the operation on the **same** pile more than once.

Return

[2021-09-30 03:34] SakshiJoshi26 opened #37 "Problem_statement_7"
Merge two sorted lists and return them as a sorted list and print the sum of all numbers in that list.

[2021-09-30 03:35] SakshiJoshi26 opened #38 "Problem_statement_8"
"Given an m x n matrix, return all elements of the matrix in spiral order and sorted order.

Input: matrix = [[1,2,3],[4,5,6],[7,8,9]]
Output: [1,2,3,6,9,8,7,4,5]
[1,2,3,4,5,6,7,8,9]"

[2021-09-30 03:36] SakshiJoshi26 opened #39 "Problem_statement_35"
A perfect number is a positive integer that is equal to the sum of its proper positive divisor (excluding itself) Check whether the given integer is perfect or not.

[2021-09-30 03:37] SakshiJoshi26 opened #40 "Problem_statement_36"
Write a program to obtain integers in multiple lines and print all pairs where the sum of any two integers is present in obtained input.
eg. eg. 7
8
2
6
Output: (2,6). Since its sum is present in the list

[2021-09-30 10:31] akhila-nori opened #41 "Problem_Statement_21"
Given a string, find out the occurrence of each character in the string. For example, String = "apple", then in
output it should print : a = 1, p = 2, l = 1 , e=1.

[2021-09-30 10:33] akhila-nori opened #42 "Problem_Statement_22"
Given an array arr[] of n integers. Check whether it contains a triplet that sums up to zero.
example : Input: n = 5, arr[] = {0, -1, 2, -3, 1}
Output: 1
Explanation: 0, -1 and 1 forms a triplet with sum equal to 0.

[2021-09-30 10:50] akhila-nori opened #43 "Problem_statement_49"
You are given an integer array nums.

You should move each element of nums into one of the two arrays A and B such that A and B are non-empty, and average(A) == average(B).

Return true if it is possible to achieve that and false otherwise.

Example 1:
Input: nums = [1,2,3,4,5,6,7,8]
Output: true
Explanation: We can split the array into [1,4,5,8] and [2,3,6,7], and both of them have an average of

[2021-09-30 10:55] akhila-nori opened #44 "Problem_Statement_50"
Given an array of strings strs, group the anagrams together. You can return the answer in any order.

An Anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once.

Example :

Input: strs = ["eat","tea","tan","ate","nat","bat"]
Output: [["bat"],["nat","tan"],["ate","eat","tea"]]

[2021-09-30 12:10] deek121477 opened #45 "Problem_Statement_13"
Given a grid consisting of '0's(Water) and '1's(Land). Find the number of islands.
Example 1:

Input:
grid = {{0,1},{1,0},{1,1},{1,0}}
Output:
1
Explanation:
The grid is-
0 1
1 0
1 1
1 0
All lands are connected.

[2021-09-30 12:11] deek121477 opened #46 "Problem_Statement_14"
Given a linked list of N nodes. The task is to check if the linked list has a loop. A linked list can contain a self-loop.

Example 1:

Input:
N = 3
value[] = {1,3,4}
x = 2
Output: True
Explanation: In above test case N = 3.
The linked list with nodes N = 3 is
given. Then value of x=2 is given which
means last node is connected with xth
node of linked list. Therefore, there
exists a loop.

[2021-09-30 12:27] deek121477 opened #47 "Problem_Statement_42"
Given a matrix of size n x m, where every row and column is sorted in increasing order, and a number x. Find whether element x is present in the matrix or not.

Example 1:

Input:
n = 3, m = 3, x = 62
matrix[][] = {{ 3, 30, 38},
              {36, 43, 60},
              {40, 51, 69}}
Output:
0

[2021-09-30 12:28] deek121477 opened #48 "Problem_Statement_41"
Given N non-negative integers a1,a2,.... a where each represents a point at coordinate (i, ai).                                                                                                                                                               N vertical lines are drawn such that the two endpoints of line i are at (i, ai) and (i,0).

[2021-10-01 02:16] ParnaviKulkarni opened #49 "Problem_Statement_55"
### A Simple Automaton
Create a finite automaton that has three states.
Finite automatons are the same as finite state machines for our purposes.
Our simple automaton accepts the language of A, defined as {0, 1} and should have three states: q1, q2, and q3.
Here is the description of the states:
**q1 is our start state, we begin reading commands from here
q2 is our accept state, we return true if

[2021-10-01 03:13] ParnaviKulkarni opened #50 "Problem_Statement_56"
A company manufactures different types of software products. They deliver their products to their N clients. Whenever the company fulfills the complete order of a client, the orderID generated is the concatenation of the number of products delivered for every committed product type. The head of the sales team wishes to find the clientwise data for the total number of products of any type delivered

[2021-10-01 03:16] AJgthb2002 commented on #5
I would like to work on this issue. Please assign it to me.
Name: Ananya Joshi
(CCOEW Pune)

[2021-10-01 03:18] AJgthb2002 commented on #21
I would like to work on this issue. Please assign it to me.
Name: Ananya Joshi
(CCOEW Pune)

[2021-10-01 03:38] adititawale11 commented on #41
Im Aditi Tawale , I want to work on these issue.

[2021-10-01 03:41] adititawale11 commented on #37
Im Aditi Tawale. I want to work on these issue

[2021-10-01 03:47] adititawale11 commented on #11
Im Aditi Tawale, I want to work on these issue

[2021-10-01 03:50] MashTerro commented on #29
@vishakha-managoli I am Mahevash Patel 2nd yr student at CCOEW may you please assign this issue to me

[2021-10-01 03:50] vishwadere commented on #13
Hi, I would like to work on this issue. Please assign it to me.
Vishwa Dere, CCOEW Pune

[2021-10-01 03:51] p744 commented on #4
I would like to work on this problem statement.
(Name : Prajakta Santosh Patil)

[2021-10-01 03:52] akhila-nori commented on #41
Hello Aditi I have assigned you this issue !

[2021-10-01 03:53] srushti1006 commented on #21
You have been assigned 1 issue already work on that. After completing that, we can assign you another issue.

[2021-10-01 03:54] adititawale11 commented on #7
Im Aditi Tawale (CCEW , Pune) , I would like to work on these issue

[2021-10-01 04:06] fizaashaikh commented on #25
Hi, I would like to work on this issue. Please assign it to me.
Fiza Shaikh
CCOEW Pune

[2021-10-01 04:07] p744 commented on #6
I would like to work on this problem statement.
(Name : Prajakta Santosh Patil)

[2021-10-01 04:11] Krush2311 commented on #4
Your deadline is 3 Oct 21, 11 : 59 pm. Add your solution in "Solution" folder

[2021-10-01 04:15] MashTerro commented on #28
@anushka0712, I am Mahevash Patel 2nd year student at Cummins may you assign this issue to me

[2021-10-01 04:18] yashasvi17rawat commented on #17
can u please assign me this issue..i am Yashasvi Rawat (sy comp) ccoew_mozilla

[2021-10-01 04:19] Krush2311 commented on #4
This issue is only for Second Year students.

[2021-10-01 04:21] AJgthb2002 commented on #21
Okay. I have completed the other issue and created a PR for it

[2021-10-01 04:24] Krush2311 commented on #17
Submit the solution in "Solutions" folder. Deadline is 3 Oct' 21.

[2021-10-01 04:27] yashasvi17rawat commented on #9
can u please assign me this issue ..
Yashasvi Rawat(sy comp ) ccoew_mozilla

[2021-10-01 04:34] Vis2306 commented on #25
Assigned you the issue

[2021-10-01 04:36] p744 commented on #32
I would like to work on this problem statement.
(Name: Prajakta Santosh Patil)

[2021-10-01 04:45] disha-morye commented on #37
I'm Disha Morye from CCEW, Pune, I would like to work on this issue

[2021-10-01 04:48] disha-morye commented on #20
I'm Disha Morye from CCEW, Pune. I would like to work on this issue

[2021-10-01 04:49] shreya2208 commented on #37
I am Shreya Amritkar from CCEW Pune. I would like to work on this issue

[2021-10-01 04:49] shreya2208 commented on #41
I am Shreya Amritkar from CCEW Pune. I would like to work on this issue

[2021-10-01 04:51] MashTerro commented on #18
I am Mahevash Patel student at CCOEW pune, I want to work on this issue may you please assign it to me

[2021-10-01 04:53] Nutan2305 commented on #37
I am Nutan Tupe from CCEW Pune, I would like to work on this issue

[2021-10-01 04:54] Anuja1510 commented on #37
I am Anuja Limaye from CCOEW Pune, I would like to work on this issue. Please assign it to me.

[2021-10-01 04:57] Krush2311 commented on #9
You can work on only 1 issue at a time. If no, one asks for it we'll assign this issue to you after you complete the 1st one (it should be merged)

[2021-10-01 04:58] Anuja1510 commented on #48
I am Anuja Limaye from CCOEW , I would like to work on this issue , please assign it to me.

[2021-10-01 05:01] Nutan2305 commented on #27
I am Nutan Tupe From CCEW Pune. I would like to work on this issue

[2021-10-01 05:03] Nutan2305 commented on #11
I am Nutan Tupe from CCEW Pune. I would like to on this issue

[2021-10-01 05:08] sudhachintake commented on #38
hello, i am sudha and i would like to work on this problem.

[2021-10-01 05:09] samruddhi-10 commented on #46
Hey! Will you please assign me this issue?

[2021-10-01 05:09] rghvgrv commented on #11
I am Gaurav Ashish from Bangalore and I would like to work on these issue

[2021-10-01 05:10] Aditi-Bornare commented on #14
I would like to work on this issue. Please assign it to me.
Name: Aditi Bornare
(CCOEW Pune)

[2021-10-01 05:12] akhila-nori commented on #41
Hello Shreya, I have already assigned this issue to Aditi.
If the code assigned isn't completed by 3rd October, 11:59 pm, then it would be assigned it to you :)

[2021-10-01 05:13] rghvgrv commented on #7
I am Gaurav Ashish , I would love to contribute on this issue

[2021-10-01 05:14] Krush2311 commented on #21
In which language (C/Java/Python) will you be writing the code

[2021-10-01 05:15] nilanshijain commented on #11
Thanks for showing interest but since you are from TY you need to work on medium-level issues.

[2021-10-01 05:15] AJgthb2002 commented on #21
python

[2021-10-01 05:15] nilanshijain commented on #11
This repository is for only Cummins students!!

[2021-10-01 05:22] radhika011 commented on #29
Hello, I am Radhika Wadekar from T.Y. CCEW. I would like to work on this issue.

[2021-10-01 05:23] divya-ganesh commented on #37
I'd like to work on this issue.
Divya Ganesh CCOEW, PUNE
SY-CSE

[2021-10-01 05:25] divya-ganesh commented on #45
I'd like to work on this issue.
Divya Ganesh CCOEW, PUNE
SY-CSE

[2021-10-01 05:25] divya-ganesh commented on #47
I'd like to work on this issue.
Divya Ganesh CCOEW, PUNE
SY-CSE

[2021-10-01 05:27] vishakha-managoli commented on #29
You have been assigned this problem statement. You will be getting 3 days to work on it. All the best.

[2021-10-01 05:28] Aditi-Bornare commented on #39
I would like to work on this issue. Please assign it to me.
Name: Aditi Bornare
(CCOEW Pune)

[2021-10-01 05:28] divya-ganesh commented on #42
I'd like to work on this issue.
Divya Ganesh CCOEW, PUNE
SY-CSE

[2021-10-01 05:30] vishakha-managoli commented on #32
You have been assigned this problem statement. You will be getting 3 days to work on it. All the best.

[2021-10-01 05:31] ishwari20 commented on #26
I'm Ishwari Patil (TY) (CCEW , Pune) , I would like to work on these issue.

[2021-10-01 05:32] Nutan2305 commented on #50
I am Nutan Tupe From CCEW Pune. I would like to work on this problem

[2021-10-01 05:32] divya-ganesh commented on #36
I'd like to work on this issue.
Divya Ganesh CCOEW, PUNE
SY-CSE
/assign

[2021-10-01 05:32] nilanshijain commented on #11
You have already been assigned an issue so i unassigned the issue!!
Once you complete that, comment again. I'll assign you!!

[2021-10-01 05:33] Shriya0731 commented on #37
I am Shriya Deshpande from SY comp ccoew. Please assign me this issue. I will complete it in time.

[2021-10-01 05:34] Nutan2305 commented on #47
I am Nutan Tupe from CCEW. I would like to work on this issue

[2021-10-01 05:36] Nutan2305 commented on #46
I am Nutan Tupe From CCEW Pune. I would like to work on this issue

[2021-10-01 05:36] maitreyeep2 commented on #31
I'm Maitreyee Parkhi (TY) (CCEW , Pune) , I would like to work on these issue.

[2021-10-01 05:36] aditioak commented on #43
I'm Aditi Oak (TY, E&TC) (CCEW , Pune). I would like to work on this issue.

[2021-10-01 05:37] Krush2311 commented on #20
Go Ahead! Submit your Code in "Solutions" folder. Deadline is 3 Oct' 21, 11: 59 pm

[2021-10-01 05:39] Vis2306 commented on #26
Assigned you the issue.. Happy Contributing!

[2021-10-01 05:39] ArtiHere commented on #11
`I am Arti Tambade (CCEW ,Pune) ,I would like to work on this issue`

[2021-10-01 05:40] Shriya0731 commented on #7
I am Shriya Deshpande (SY comp ccoew). Please assign me this issue. I would like to work on it.

[2021-10-01 05:41] nilanshijain commented on #7
This repository is only for Cummins students!!

[2021-10-01 05:41] ishwari20 commented on #15
I'm Ishwari Patil (TY) (CCEW , Pune) , I would like to work on this issue.

[2021-10-01 05:44] aditioak commented on #30
I'm Aditi Oak (TY, E&TC) (CCEW , Pune) . I would like to work on this issue.

[2021-10-01 05:45] vishakha-managoli commented on #31
You have been assigned this problem statement. You will be getting 3 days to work on it. All the best.

[2021-10-01 05:47] vishakha-managoli commented on #30
You have been assigned this problem statement. You will be getting 3 days to work on it. All the best.

[2021-10-01 05:49] ParnaviKulkarni commented on #50
@Nutan2305 As you are already working on 4th problem statement, we will not be able to assign this issue to you right now. After you submit the previous issue's solution, if no one else has been assigned to this issue, we will assign it to you.

[2021-10-01 05:49] srushti1006 commented on #15
Hello, Ishwari you are already assigned 1 issue. Once that is merged I will assign you this 1

[2021-10-01 05:49] Shriya0731 commented on #14
I am Shriya Deshpande from SY Comp . Please assign me this issue.

[2021-10-01 05:51] samruddhi-10 commented on #46
I am Samruddhi Nabriya from CCEW, Pune.

[2021-10-01 05:53] komalvhanmane commented on #19
Hello I am Komal From SY CCEW ,I want work on this .

[2021-10-01 05:54] maitreyeep2 commented on #44
I'm Maitreyee Parkhi (TY) (CCEW , Pune) , I would like to work on this issue.

[2021-10-01 05:57] komalvhanmane commented on #24
Hello I am komal from SY comp CCEW ,I want to work on this.

[2021-10-01 06:01] Vis2306 commented on #24
Assigned you the issue.. Happy Contributing!

[2021-10-01 06:11] Krush2311 commented on #18
You have been assigned another issue already! If no one asks for this issue, you will be assigned this issue after you complete the first one(after PR is merged)

[2021-10-01 06:18] ArtiHere commented on #11
`Is is okay if we do it with java ? `

[2021-10-01 06:19] Nutan2305 commented on #50
Hey! I am done with problem statement 4 can you assign it to me now.

[2021-10-01 06:23] akhila-nori commented on #44
Hello Maitreyee, I have assigned you this issue!

[2021-10-01 06:27] nilanshijain commented on #11
Yeah!! you can do it!!

[2021-10-01 06:28] Nandana1911 commented on #18
I'd like to work on this issue.
Nandana Nair CCOEW
SY-E&TC

[2021-10-01 06:44] ishwari20 commented on #26
Submitted!

[2021-10-01 06:45] aditioak commented on #30
Submitted!

[2021-10-01 06:47] ashme1502 commented on #42
Hello, I'm Aishwarya Menon from SY EnTC.
I'd like to work on this issue.

[2021-10-01 06:48] #21 closed

[2021-10-01 06:50] ashme1502 commented on #43
Hello, I'm Aishwarya Menon from SY EnTC branch.
I'd like to work on this problem.

[2021-10-01 06:55] maitreyeep2 commented on #31
Submitted!!

[2021-10-01 06:56] ashme1502 commented on #47
Hello, I'm Aishwarya Menon (SY EnTC) from CCEW, Pune.
I'd like to work on this issue.

[2021-10-01 06:58] MashTerro commented on #18
Very first this issue was assigned to me before the 2nd assignment and I have started working on this issue

[2021-10-01 07:00] PraptiKawthekar commented on #43
I'm Prapti Kawthekar from TY, E&TC ,CCEW , Pune
 I would like to work on this issue.

[2021-10-01 07:09] ashme1502 commented on #14
Hello, I'm Aishwarya Menon (SY EnTC) from CCOEW.
I'd like to work on this issue.

[2021-10-01 07:10] Shr03mink commented on #18
@MashTerro We are sorry but this issue is not and will not be assigned to you as you already have other issue assigned and we specifically mentioned that requests after October 1 starts will be counted as mentioned in the instructions. So, please stop working on this issue as your PR will not be accepted.

[2021-10-01 07:13] ParnaviKulkarni commented on #50
Your 1st PR has not been reviewed yet. You will have to wait till your 1st PR gets merged.

[2021-10-01 07:14] komalvhanmane commented on #24
Submitted!

[2021-10-01 07:17] Shr03mink commented on #18
@MashTerro We are very sorry but this issue is not and will not be assigned to you as you already have another issue assigned. We specifically mentioned in our mail that only 1 issue at a time. Please stop working on this issue as your PR will not be accepted.

[2021-10-01 07:24] Gaurika-Gupta commented on #14
You are already assigned one issue. You can not work on 2 issues at the same time.

[2021-10-01 07:25] Nutan2305 commented on #50
ohk

[2021-10-01 07:41] akhila-nori commented on #43
Hello Aditi, I have assigned you this issue, try completing it before 3rd October, 11:59 pm!

[2021-10-01 07:45] akhila-nori commented on #44
Hello Maitreyee, seems you are working on another issue, once that code of yours gets merged then you will be assigned this one :)

[2021-10-01 07:47] akhila-nori commented on #43
Hello Aishwarya, I have already assigned this issue to Aditi.
If the code assigned isn't completed by 3rd October, 11:59 pm, then it would be assigned it to you :)

[2021-10-01 07:49] akhila-nori commented on #43
I have not assigned problem statement 50 to anyone, if interested it can be assigned to y'all and y'all can start working on it :)

[2021-10-01 07:55] Shriya0731 commented on #7
#57 Created the pull request!

[2021-10-01 07:57] Krush2311 commented on #19
Go ahead! Submit the code in "Solutions" Folder. Deadline is 3 Oct'21, 11: 59 pm

[2021-10-01 08:02] Krush2311 commented on #18
@Nandana1911 submit your code in "Solutions" folder. Deadline is 3 Oct'21, 11 : 59 pm

[2021-10-01 08:03] Shr03mink commented on #24
Hi @komalvhanmane, you already have one issue assigned at the moment, so we are going to unassign this issue as according to our instructions one at a time. After your first PR is merged, we can assign you this issue if nobody else has commented for it

[2021-10-01 08:10] Shr03mink commented on #43
hello @aditioak  and @ashme1502 . Seems like you both are working on another issue as well. Since we can only assign one issue at a time you will not be assigned this issue, once that code of yours gets merged then you will be assigned this one :)

This issue is now assigned to @PraptiKawthekar

[2021-10-01 08:14] SravyaSrusti commented on #4
I'm Sravya Srusti ( SY CCEW)
I would like to work on this issue

[2021-10-01 08:50] sakshi430 commented on #15
Hello, I am Sakshi Ingale from TY (CCEW, Pune). I would like to work on this issue.

[2021-10-01 09:03] vaishnavisawant57 commented on #44
I'm Vaishnavi Sawant SY-Comp. I'd like to work on this issue. Please assign it to me.

[2021-10-01 09:14] shreya2208 commented on #23
I am Shreya Amritkar from SY IT. Please assign me this issue.

[2021-10-01 09:19] shreya2208 commented on #24
I am Shreya Amritkar from SY IT CCEW. Please assign me this issue.

[2021-10-01 09:20] shreya2208 commented on #4
I am Shreya Amritkar from SY IT CCEW. Please assign me this issue

[2021-10-01 09:28] fizaashaikh commented on #2
Hi, I would like to work on this issue. Please assign it to me.
Fiza Shaikh
CCOEW Pune

[2021-10-01 10:28] SravyaSrusti commented on #9
I'm Sravya Srusti (SY CCEW)
Please assign me this issue

[2021-10-01 10:50] ashme1502 commented on #3
Hello. I'm Aishwarya Menon (SY EnTC) from CCOEW.
I'd like to work on this issue.

[2021-10-01 11:18] Nutan2305 commented on #40
I am Nutan Tupe From CCEW Pune. I would like to work on this issue

[2021-10-01 11:19] Nutan2305 commented on #27
Hey can you please review my PR?

[2021-10-01 11:43] disha-morye commented on #20
I have submitted the pull request.
Kindly check it
Thank you!

[2021-10-01 11:49] disha-morye commented on #9
I'm Disha Morye from SY CCEW. Please assign me this issue.

[2021-10-01 11:52] disha-morye commented on #4
I'm Disha Morye from SY CCEW. Please assign this issue to me.

[2021-10-01 12:49] divya-ganesh commented on #42
Have created PR. Code is in Java.

[2021-10-01 13:06] SanyuktaMuley commented on #46
Hi, I would like to work on this issue. Please assign it to me.
Sanyukta Muley
CCOEW Pune

[2021-10-01 13:07] SanyuktaMuley commented on #6
Hi, I would like to work on this issue. Please assign it to me.
Sanyukta Muley
CCOEW Pune

[2021-10-01 13:08] SanyuktaMuley commented on #45
Hi, I would like to work on this issue. Please assign it to me.
Sanyukta Muley
CCOEW Pune

[2021-10-01 13:14] SanyuktaMuley commented on #23
Hi, I would like to work on this issue. Please assign it to me.
Sanyukta Muley
CCOEW Pune

[2021-10-01 13:18] SanyuktaMuley commented on #22
Hi, I would like to work on this issue. Please assign it to me.
Sanyukta Muley
CCOEW Pune

[2021-10-01 14:42] NidhiMalpani commented on #16
Hello, I'm Nidhi Malpani from comp SY (CCEW Pune). I request you to assign this issue to me

[2021-10-01 14:47] NidhiMalpani commented on #16
Hello. I'm Nidhi Malpani from Comp SY (CCEW Pune). I would like to work on this issue

[2021-10-01 15:14] seemsss20 opened #65 "Problem_Statement_15"
"Given an array of DISTINCT elements, rearrange the elements of an array in zig-zag fashion in O(n) time. The converted array should be in form a < b > c < d > e < f.

Example:

Input: arr[] = {4, 3, 7, 8, 6, 2, 1}
Output: arr[] = {3, 7, 4, 8, 2, 6, 1}

Input: arr[] = {1, 4, 3, 2}
Output: arr[] = {1, 4, 2, 3}"

[2021-10-01 15:15] seemsss20 opened #66 "Problem_Statement_16"
"Given two strings 'str' and a wildcard pattern 'pattern' of length N and M respectively,  You have to print '1' if the wildcard pattern is matched with str else print '0' .

The wildcard pattern can include the characters ‘?’ and ‘*’
‘?’ – matches any single character
‘*’ – Matches any sequence of characters (including the empty sequence)

Example 1:

Input:
pattern = ""ba*a?""
str = ""baaabab""

[2021-10-01 15:22] seemsss20 opened #67 "Problem_Statement_43"
Given an array of integers citations where citations[i] is the number of citations, a researcher received for their ith paper, return compute the researcher's h-index.

According to the definition of h-index on Wikipedia: A scientist has an index h if h of their n papers have at least h citations each, and the other n − h papers have no more than h citations each.

If there are several possible va

[2021-10-01 15:27] seemsss20 opened #68 "Problem_Statement_44"
We have an array of integers, nums, and an array of requests where requests[i] = [starti, endi]. The ith request asks for the sum of nums[starti] + nums[starti + 1] + ... + nums[endi - 1] + nums[endi]. Both starti and endi are 0-indexed.

Return the maximum total sum of all requests among all permutations of nums.

Since the answer may be too large, return it modulo 109 + 7.

Example 1:

Input: nu

[2021-10-01 15:35] deek121477 commented on #45
Yes. You can start contributing to it @divya-ganesh

[2021-10-01 15:36] deek121477 commented on #46
Yes. You can start working on it @samruddhi-10

[2021-10-01 15:37] deek121477 commented on #48
You can start working on it @Anuja1510

[2021-10-01 16:09] ashme1502 commented on #44
Hello, I'm Aishwarya Menon (SY EnTC) from CCOEW.
I have completed working on problem_42 so can assign it to me,
I'd like to work on this one.

[2021-10-01 16:30] Sans0709 commented on #23
Hi, I am Sanskruti Kanphade from SY Comp.I will like to work on this issue

[2021-10-01 16:33] Sans0709 commented on #24
I am Sanskruti Kanphade Comp SY. Please assign me this issue

[2021-10-01 16:35] Sans0709 commented on #4
I am Sanskruti Kanphade SY comp please assign me this issue

[2021-10-01 16:37] Sans0709 commented on #8
I am Sanskruti Kanphade comp Sy . Please assign me this issue

[2021-10-01 16:39] Sans0709 commented on #13
Hi, I am Sanskruti Kanphade please assign me this issue.

[2021-10-01 16:40] Sans0709 commented on #17
I am Sanskruti Kanphade. Please assign me this issue

[2021-10-01 16:47] ashme1502 commented on #67
Hello, I'm Aishwarya Menon (SY EnTC) from CCOEW, Pune.
I'd like to work on this issue.

[2021-10-01 17:26] srushti1006 commented on #2
Hello, Fiza you are assigned 1 issue already.
Once that is reviewed and merged we can assign this to you.
(If someone comments before that we will assign this issue to them)

[2021-10-01 17:27] srushti1006 commented on #3
Hello, Aishwarya you are assigned 1 issue already.
Once that is reviewed and merged we can assign this to you.
(If someone comments before that we will assign this issue to them)

[2021-10-01 17:43] anushka0712 commented on #22
@SanyuktaMuley please register yourself first on the google form circulated by us. Do let me know after it

[2021-10-01 17:47] anushka0712 commented on #27
@Nutan2305 I have successfully merged your PR please check. Congrats!

[2021-10-01 17:47] #27 closed

[2021-10-01 18:31] S3-26 commented on #65
I would like to work on this issue.
Srushti Sulgudle

[2021-10-01 18:34] S3-26 commented on #47
I would like to work on this issue.
Srushti Sulgudle

[2021-10-01 18:35] S3-26 commented on #46
I would like to work on this issue.
Srushti Sulgudle

[2021-10-01 18:36] S3-26 commented on #45
I would like to work on this issue.
Srushti Sulgudle

[2021-10-01 18:42] S3-26 commented on #28
I would like to work on this issue.
Srushti Sulgudle

[2021-10-01 18:47] S3-26 commented on #33
I would like to work on this issue. Please assign this to me.
Srushti Sulgudle
TY Comp CCOEW

[2021-10-02 05:43] vaishnavisawant57 commented on #34
I am Vaishnavi Sawant, SY-Comp. I'd like to try this issue. Please assign it to me.

[2021-10-02 05:57] Aditi-Bornare commented on #39
I have uploaded the solution

[2021-10-02 05:58] Krush2311 commented on #9
@SravyaSrusti Kindly submit your solution in the "Solutions" folder. deadline is 4 Oct'21, 11:59 pm

[2021-10-02 06:03] Krush2311 commented on #9
@disha-morye We are really sorry because its First come first serve. You'll be assigned this question if Sravya isn't able to complete it in the given time. You can go for another question till then!

[2021-10-02 06:14] Nutan2305 commented on #50
hey, can I do it now?

[2021-10-02 06:37] #20 closed

[2021-10-02 06:51] Krush2311 commented on #4
Hello Shreya,
It seems that you haven't registered in the registration form provided by Mozilla Campus club! Could you please confirm the same. And if you haven't registered, please do it at the earliest as it is mandatory for contributing to this repository!

[2021-10-02 06:51] nilanshijain commented on #6
Sorry, I could not assign you until you register for the event through the google form sent via mail, since I cannot verify you as a Cummins student!!
So please register soon else I might assign this to one who comments next!!

[2021-10-02 06:56] aark06 commented on #37
I am Aarya Khodke from SY EnTC CCOEW. I'd like to work on this issue.

[2021-10-02 07:04] Krush2311 commented on #4
@disha-morye Kindly submit you solution in the "Solutions" folder. Deadline is 4 Oct'21

[2021-10-02 07:09] Krush2311 commented on #4
@Sans0709 We are really sorry but its first come first serve. You'll be assigned this issue this issue only if Disha isn't able to complete it in the given time. You can go for another problems till then!

[2021-10-02 07:32] #7 closed

[2021-10-02 08:28] SanyuktaMuley commented on #6
Yes, I have registered now

[2021-10-02 08:30] #25 closed

[2021-10-02 08:31] SanyuktaMuley commented on #22
Yes, I have registered now

[2021-10-02 08:42] Vis2306 commented on #26
Hello... our team has detected that you have copied this issue from the internet along with the input. We urge you to take another day, refer to this solution and write an original one. Also, it's not necessary to include test cases for your program. If possible try working on this problem in some other language you are more comfortable with.

[2021-10-02 08:45] Shr03mink commented on #42
HI @divya-ganesh  you have not created the PR properly. Please try again

[2021-10-02 08:45] Vis2306 commented on #24
Hello Shreya, looks like you haven't registered on the google form provided by the club on your official mail id. Please do so as issues won't be assigned to unregistered candidates. After registration, you can look for other issues on our repository.

[2021-10-02 08:48] Shr03mink commented on #45
HI @divya-ganesh, looks like you are already working on one problem statement. So, we wont be assigning this issue to you as according to our instructions only 1 issue at a time. After your first PR has been merged can we assign another issue to you

[2021-10-02 08:50] Vis2306 commented on #24
Assigned this issue to you. Happy Contributing!

[2021-10-02 08:51] Shr03mink commented on #45
HI @SanyuktaMuley , you can start working on this issue. You have 2 days (i.e. till 4th October) to create a PR. Happy Contributing!

[2021-10-02 08:53] Vis2306 commented on #23
Assigned this issue to you.

[2021-10-02 08:55] ParnaviKulkarni commented on #50
Yes I've assigned this issue to you. All the best!

[2021-10-02 08:55] Aditi-Bornare commented on #49
Hey, I'm Aditi Bornare from TY. I would like to work on this issue.

[2021-10-02 08:57] nilanshijain commented on #6
Yess!! Assigned it!!
Happy contributing!!

[2021-10-02 08:58] Shr03mink commented on #45
@SanyuktaMuley you can work on this issue. You have until 4th October 2:30 PM to create your PR. Happy Contributing!

[2021-10-02 08:59] anushka0712 commented on #22
@SanyuktaMuley done!

[2021-10-02 09:00] nilanshijain commented on #6
@SanyuktaMuley I think you are already assigned an issue, so I unassigned....
Sorry for the inconvenience!!

[2021-10-02 09:01] anushka0712 commented on #28
@S3-26 this issue was already assigned to someone else, please try on some other issue

[2021-10-02 09:01] ParnaviKulkarni commented on #49
Yes I've assigned this issue to you. All the best!

[2021-10-02 09:02] Vis2306 commented on #23
Hello, after looking at your registration form, we realised you are from TY. As mentioned before TY students won't be assigned issue with the easy tag. Please look for an issue with the medium label. Happy contributing!

[2021-10-02 09:05] anushka0712 commented on #28
@MashTerro merged successfully! Congrats!

[2021-10-02 09:05] #28 closed

[2021-10-02 09:10] anushka0712 commented on #22
@SanyuktaMuley hey, just saw that you were already assigned to some other issue. Please merge it successfully then request for other.

[2021-10-02 09:26] Gaurika-Gupta commented on #8
Hello Shreya, looks like you haven't registered on the google form provided by the club on your official mail id. Please do so as issues won't be assigned to unregistered candidates. After registration, you can look for other issues on our repository.

[2021-10-02 09:30] #13 closed

[2021-10-02 09:33] Shr03mink commented on #49
Hey you are already assigned one issue @Aditi-Bornare . So we wont be assigning this one to you as only 1 issue at a time. You will be assigned another issue only after your first PR gets merged

[2021-10-02 09:35] Shr03mink commented on #39
HI @Aditi-Bornare Please create your PR properly again. when you create a PR it shows here that you have committed so and so changes. Follow the instructions in our mails on how to create one properly

[2021-10-02 09:38] Aditi-Bornare commented on #49
Hii, my PR has been merged

[2021-10-02 09:39] divya-ganesh commented on #45
@Shr03mink  @deek121477
Okay! I have completed the code for any shape of grid though. So do let me know if the issue should open up again :)
Thanks

[2021-10-02 09:41] SanthoshS20 commented on #65
@seemsss20 Can i work on it?

[2021-10-02 09:42] Shr03mink commented on #39
I am sorry @Aditi-Bornare  but your earlier PR will be discarded as it was not created properly. you will have to create one again  and the PR commit message should be displayed here

[2021-10-02 09:43] Aditi-Bornare commented on #49
Okay

[2021-10-02 09:43] Aditi-Bornare commented on #39
Okay, sure I will create one again

[2021-10-02 09:45] divya-ganesh commented on #42
@Shr03mink
I'm sorry about that, but could you please elaborate? I don't understand what I need to change. Should I create another PR? And what should I be doing differently?
I'm so sorry, but I'm very new to git, and I followed the manual to the t. I'd really appreciate insight.
Thanks :)

[2021-10-02 09:48] Shr03mink commented on #42
when you create your PR properly, it should display here ki you have committed so and so changes. jaise you can see that so and so assigned you. Similarly a message that shows your PR ka commit message

[2021-10-02 09:49] Shr03mink commented on #42
what you did was not completely wrong but your PR should be linked with your issue

[2021-10-02 09:52] Shr03mink commented on #42
take this for example https://github.com/Mozilla-Campus-Club-Cummins/Hacktoberfest_Moz_Cummins/issues/5

[2021-10-02 09:59] Shr03mink commented on #45
Sure :)

[2021-10-02 10:02] divya-ganesh commented on #42
Let me try that again
Creating a new PR
Thank you for the reply :)
@Shr03mink

[2021-10-02 10:11] Shr03mink commented on #39
hey once you create the PR just comment under this issue that you have created PR #(pr no.). this will give the maintainer idea which PR to review

[2021-10-02 10:13] Shr03mink commented on #42
@divya-ganesh ,basically once you create a PR you link it here. say your PR is #(pr no). this will tell maintainers which PR to review because otherwise we have a lot of individual PRs and wont be easy to link all of them

[2021-10-02 10:24] divya-ganesh commented on #42
@Shr03mink
I understand
I think I managed this time
Thanks so much for your patience
:)

[2021-10-02 10:46] Shr03mink opened #81 "dummy_demo"

[2021-10-02 10:47] Shr03mink commented on #81
create PR #80

[2021-10-02 10:48] Shr03mink commented on #68
created PR for this issue #80

[2021-10-02 10:56] Vaishnavi-Markunde commented on #66
Hello , I am Vaishnavi from SY ,Cummins College. I would like to work on this problem .

[2021-10-02 10:59] Shr03mink opened #83 "issue demo"

[2021-10-02 11:00] Krush2311 opened #84 "Demo Issue"
Demo

[2021-10-02 11:01] #81 closed

[2021-10-02 11:01] #83 closed

[2021-10-02 11:06] Vaishnavi-Markunde commented on #12
Hello , I am Vaishnavi from Cummins College. I would like to work on this problem .

[2021-10-02 11:19] Aditi-Bornare commented on #39
Created pr #86

[2021-10-02 11:23] yashdua4 commented on #37
""" Python program to merge two
sorted linked lists """

# Linked List Node
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

# Create & Handle List operations
class LinkedList:
    def __init__(self):
        self.head = None

    # Method to display the list
    def printList(self):
        temp = self.head
        while temp:
            print(temp.dat

[2021-10-02 11:24] yashdua4 commented on #37
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        self.head = None

    def printList(self):
        temp = self.head
        while temp:
            print(temp.data, end=" ")
            temp = temp.next

    def addToList(self, newData):
        newNode = Node(newData)
        if self.head is None:

[2021-10-02 11:30] Anuja1510 commented on #48
submitted

[2021-10-02 12:02] Shr03mink commented on #48
@Anuja1510  please write the issue no. in your PR description box as mentioned in the session

[2021-10-02 12:13] GayatriChaudhari1281 commented on #3
Hello. I'm Gayatri Chaudhari(TY Comp) from CCOEW.
I'd like to work on this issue.

[2021-10-02 12:22] srushti1006 commented on #3
Assigned you the issue make sure you submit the solution in 2 days else we will unassign you

[2021-10-02 13:28] mrunal736 commented on #11
I am Mrunal Jambenal SY COMP A , CCEW,Pune . I would like to work on this issue

[2021-10-02 13:31] #50 closed

[2021-10-02 13:54] S3-26 commented on #33
I'm from Cummins college

[2021-10-02 13:55] S3-26 commented on #33
Please assign this issue to me

[2021-10-02 14:13] ParnaviKulkarni commented on #12
Yes I've assigned this issue to you.
Just a note, while submitting the solution, mention Issue no. in PR so that your PR will get linked to this issue.
All the best!

[2021-10-02 14:15] SravyaSrusti commented on #9
Submitted

[2021-10-02 14:19] gauri-bitsandbytes commented on #33
Please write 'created PR for #issue_number' while making PR.

[2021-10-02 14:19] Anuja1510 commented on #48
I have updated it, please check now.

[2021-10-02 14:57] gauri-bitsandbytes commented on #34
Hey Vaishnavi, you will be assigned 2nd issue only after you are done with the 1st assigned issue :)

[2021-10-02 17:25] fizaashaikh commented on #2
Issue 1 has been merged.
Can you please assign this issue to me now?

[2021-10-02 18:34] Aditi-Bornare commented on #49
Hey, my pr got merged. Could you assign this issue to me?

[2021-10-02 18:36] #39 closed

[2021-10-02 18:37] #37 closed

[2021-10-02 19:11] SravyaSrusti commented on #36
I'm Sravya Srusti (SY CCEW)
Please assign this issue to me.

For my first problem statement(Problem_Statement_20) the PR is live and ready to be reviewed, and since no one else was showing interest for this problem statement I would like to be the first one to ask for its assignment, I've also worked on creating a solution for this problem statement and it is almost complete.

[2021-10-02 19:54] MashTerro commented on #40
I am Mahevash Patel, 2nd year student in CCOEW can you assign this issue to me

[2021-10-03 03:06] Shriya0731 commented on #23
Hello, I am Shriya Deshpande (SY comp) . I would like to work on this issue. Please assign me this issue.

[2021-10-03 03:19] Vis2306 commented on #23
Assigned this issue to you. Happy Contributing!

[2021-10-03 03:29] Shriya0731 commented on #23
Thank you for assigning me this issue!

[2021-10-03 03:53] komalvhanmane commented on #19
#63 Created PR

[2021-10-03 03:55] Krush2311 commented on #4
@disha-morye You haven't created a proper pull request. Please mention this issue(#4) in comment of the pull request

[2021-10-03 04:08] #19 closed

[2021-10-03 04:10] GayatriChaudhari1281 commented on #3
Thank you. I will submit within deadline.

[2021-10-03 04:12] Krush2311 commented on #18
A gentle reminder @Nandana1911, You need to create your PR by 11: 59 today otherwise this issue will be assigned to someone else! Also make sure you mention this issue in the comment of that PR.

[2021-10-03 04:23] #24 closed

[2021-10-03 04:36] S3-26 commented on #33
I have made the pull request as you mentioned. Please check it.

[2021-10-03 04:40] S3-26 commented on #65
Please assign this to me

[2021-10-03 04:45] disha-morye commented on #4
Okay, will do that

[2021-10-03 05:19] Sans0709 commented on #6
I am Sanskruti From SY CCOEW. Please assign me this issue

[2021-10-03 05:20] komalvhanmane commented on #67
Hello, I'm Komal Vhanmane From SY Comp CCOEW
I'd like to work on this issue.

[2021-10-03 05:21] divya-ganesh commented on #35
I'd like to work on this issue.
Divya Ganesh CCOEW, PUNE
SY-CSE

[2021-10-03 05:22] ParnaviKulkarni commented on #49
Yes I've assigned this issue to you. Just one more thing, mention this issue while submitting solution for this to link the solution to the issue. All the best!

[2021-10-03 05:26] komalvhanmane commented on #47
Hello , I am komal vhanmane From SY COMP CCOEW
I'd like to work on this issue.

[2021-10-03 05:28] #14 closed

[2021-10-03 05:30] nilanshijain commented on #6
Assigned!!
Happy Contributing!!

[2021-10-03 05:38] nilanshijain commented on #11
Right now this issue is assigned to @ArtiHere if she doesn't create a PR by tonight(according to the 2 days deadline) then I'll assign it to you!!

[2021-10-03 05:42] Manasi12345-tech commented on #65
I would like to work on this issue.
Manasi Jagtap

[2021-10-03 05:53] bhaktee01ugale commented on #8
I am Bhaktee Ugale from SY comp. Please assign this issue to me.

[2021-10-03 05:55] MashTerro commented on #18
@Krush2311, can you please assign this issue to me after today 11:59 pm, I have submitted my first issue

[2021-10-03 05:58] gauri-bitsandbytes commented on #33
Please mention #issue_number in the PR description

[2021-10-03 06:05] gauri-bitsandbytes commented on #36
Hey! You will be assigned this issue only after the first issue is merged :)

[2021-10-03 06:20] bhaktee01ugale commented on #36
I am Bhaktee Ugale from SY comp. Please assign this issue to me.

[2021-10-03 06:26] SravyaSrusti commented on #36
Hello, the PR for the first assignment is live after the changes were requested and it was also an approved solution (change:- just had to add the issue number).
And for this problem statement, I have already created a working solution and I'm ready to create the PR as soon as I get assignment.
Hence, I requested to assign this problem statement to me.

[2021-10-03 06:28] aark06 commented on #65
I'd like to work on this issue.
Aarya Khodke -  SY ENTC

[2021-10-03 06:29] aark06 commented on #67
I'd like to work on this issue.
Aarya Khodke - SY ENTC

[2021-10-03 06:30] aark06 commented on #47
I'd like to work on this issue.
Aarya Khodke, SY ENTC

[2021-10-03 06:45] gauri-bitsandbytes commented on #36
Hey Bhaktee, it seems that you have already been assigned problem 12. You will be assigned this issue only after your previous issue gets successfully merged :)

[2021-10-03 06:50] divya-ganesh commented on #42
@Shr03mink
Do let me know if there is anything else I should be doing to get the PR review started.
Thanks!

[2021-10-03 07:10] Aditi-Bornare commented on #49
Yes, sure. Thank you!

[2021-10-03 07:14] Vaishnavi-Markunde commented on #12
I have updated the code as per your instructions .

[2021-10-03 07:32] gauri-bitsandbytes commented on #35
Hey Divya, it seems that you are already working on Problem 22. You will be assigned this issue only after you are done with PR and successful merging of the previous issue :)

[2021-10-03 07:37] srushti1006 commented on #2
assigned you this issue

[2021-10-03 08:16] Snehanaik369 commented on #66
I am Sneha Naik form Cummins College of Engineering, Pune. I am a second year student and I would like to work on this issue.

[2021-10-03 08:22] akhila-nori commented on #42
Hello @divya-ganesh, I'll go through your code and if it is working perfectly, I'll merge it, don't worry !

[2021-10-03 08:26] divya-ganesh commented on #42
@akhila-nori oh okay! I was just wondering wrt the PR. Thanks a lot! :)

[2021-10-03 08:36] srushti1006 opened #93 "Problem_Statement_62"
Cummins college of engineering  has the following grading policy:
Every student receives a grade in the inclusive range from 0 to 100
Any grade less than 40 is a failing grade.
Harshad is a professor at the college and likes to round each student's grade according to these rules:
If the difference between the grade and the next multiple of 5 is less than 3, round grade up to the next multiple of 5

[2021-10-03 08:38] Snehanaik369 commented on #38
Hello, I am Sneha a 2nd year student and I would like to work on this problem.

[2021-10-03 09:02] komalvhanmane commented on #93
Hello, I am Komal from SY Comp CCOEW
I would like to work on this.

[2021-10-03 09:02] rakeshbodavula commented on #93
@srushti1006 can i work on this please

[2021-10-03 09:37] Anuja1510 commented on #47
I am Anuja Limaye, I would like to work on this issue, please assign it to me

[2021-10-03 09:57] Anuja1510 commented on #93
I am Anuja Limaye, I would like to work on this issue, please assign it to me.

[2021-10-03 10:11] srushti1006 commented on #93
Assigned you this issue

[2021-10-03 10:17] SravyaSrusti commented on #36
Submitted Issue #36
Thank you for the quick response @gauri-bitsandbytes
I have raised the PR for this problem statement, please review and let me know if any changes are required.

[2021-10-03 10:38] komalvhanmane commented on #93
#97 PR Created .

[2021-10-03 11:22] MashTerro commented on #40
Could you please give me a test case example for this problem, I am
bit confused in what to do exactly ?

On Sun, 3 Oct, 2021, 2:53 pm SakshiJoshi26, ***@***.***>
wrote:

[2021-10-03 11:40] #93 closed

[2021-10-03 11:45] #44 closed

[2021-10-03 11:52] srushti1006 opened #100 "Problem_Statement_63"
Given an array of animal sightings where every element represents an animal type id, determine the id of the most frequently sighted type. If more than 1 type has been spotted that maximum amount, return the smallest of their ids.
Example
arr = [1,1,2,2,3]
There are two each of types 1 and 2, and one sighting of type 3. Pick the lower of the two types seen twice: type 1.

Sample Input 0
6
1 4 4 4

[2021-10-03 12:20] Manasi12345-tech commented on #34
I'd like to work on this issue. Please assign it to me.
Manasi Jagtap - Btech ccoew

[2021-10-03 12:30] vaishnavisawant57 commented on #100
I am Vaishnavi Sawant, SY-Comp. Please assign this issue to me.

[2021-10-03 13:00] #4 closed

[2021-10-03 13:14] gauri-bitsandbytes commented on #34
@Manasi12345-tech Please mention #issue_number in the description when you make a PR.

[2021-10-03 13:34] #9 closed

[2021-10-03 13:38] srushti1006 commented on #100
assigned you the issue

[2021-10-03 14:16] #36 closed

[2021-10-03 15:17] seemsss20 commented on #66
You can start working on this issue @Snehanaik369

[2021-10-03 15:23] #32 closed

[2021-10-03 15:25] #18 closed

[2021-10-03 15:28] deek121477 commented on #47
Hey Divya, it seems that you are already working on some other issue. You will be assigned this issue only after you are done with PR and successful merging of the previous issue :)

[2021-10-03 15:35] Shr03mink commented on #30
HI @aditioak  Thanks for creating the PR on time. Although, for the next issue we hope to see you work harder on writing your own solutions. Merged your solution

[2021-10-03 15:35] #30 closed

[2021-10-03 15:45] nilanshijain opened #104 "Problem_Statement_52"
Write a program asking for 10 integral inputs from the user to make a list. Now store only even values taken from the user and print the list.

[2021-10-03 15:47] nilanshijain opened #105 "Problem_Statement_80"
"Write a program to get the following output for the input.
INPUT : 1 2 3 4 5 OUTPUT : 5 1 2 3 4"

[2021-10-03 15:49] Shr03mink commented on #8
Hey @bhaktee01ugale , next time when writing the solution, always print what value user has to enter before accepting it.

[2021-10-03 15:49] #8 closed

[2021-10-03 15:49] Gaurika-Gupta opened #106 "Problem_Statement_70"
Write a program to find the missing number from range (10,50) in a given Unsorted Array of integers. If no number is missing return null.

[2021-10-03 15:51] Gaurika-Gupta opened #107 "Problem_Statement_71"
Given a String of characters, print all possible permutations possible (any number of letters). (Solve in either C, C++ or Java)

[2021-10-03 15:53] bhaktee01ugale commented on #105
I am Bhaktee Ugale from SY comp. Please assign this issue to me.

[2021-10-03 15:56] vishakha-managoli opened #108 "Problem_Statement_76"
Given a string of arbitrary length with any ascii characters. Write a function to determine whether the string contains the whole word ""Cummins"".
The order of characters is important -- a string ""abcCumminsdef"" is correct but ""abcnCumissefm"" is not correct.
Upper or lower case letter does not matter -- ""CUmMinS"" is also correct.
Return value as boolean values, true for the string to contai

[2021-10-03 15:58] vishakha-managoli opened #109 "Problem_Statement_77"
The sum of the squares of the first ten natural numbers is:
1 * 1 + 2 * 2 + ... + 10 * 10 = 385
The square of the sum of the first ten natural numbers is:
(1 + 2 + ... + 10) * (1 + 2 + ... + 10) = 55 * 55 = 3025
The difference between the sum of the squares of the first ten natural numbers and the square of the sum is:
3025 − 385 = 2640
Find the difference between the sum of the squares of the fir

[2021-10-03 16:02] kunal-umap commented on #104
hey I want to work on This , Would you assign me please ?

[2021-10-03 16:08] sakshi430 commented on #15
Hey, can you please review my PR?

[2021-10-03 16:09] nilanshijain opened #110 "Problem_Statement_81"
Suppose there are n points along a straight trail, while a runner runs sprints of intervals between those points.
The training plan is an array a[], which implies the runner should run from point a[i] to point a[i+1]. For example, given n = 10, a = [2, 4, 1, 2]. The runner should run from point 2 to point 4, then turn back from point 4 to point 1 (turning back form one point will count in frequenc

[2021-10-03 16:13] nilanshijain commented on #104
This repository is only for Cummins students!!

[2021-10-03 16:15] SakshiJoshi26 commented on #40
@MashTerro sure! it's like we need to take integers as input.

eg. 7
8
2
6
Output: (2,6). Since 2+6= 8 is present in the list

[2021-10-03 16:21] ParnaviKulkarni commented on #12
Merged your PR. :) Happy Contributing!

[2021-10-03 16:21] #12 closed

[2021-10-03 16:25] Anuja1510 commented on #109
I am Anuja Limaye, I want to work on this issue, please assign this issue to me.

[2021-10-03 16:34] Anuja1510 commented on #108
I am Anuja Limaye, I would like to work on this issue, please assign it to me.

[2021-10-03 16:38] GayatriChaudhari1281 commented on #3
Hey ..I have sent the pull request can you check whether it is visible or not?

[2021-10-03 16:40] Vaishnavi-Markunde commented on #110
Hello , I'm Vaishnavi from Comp SY , I would like to work on this issue

[2021-10-03 16:43] vishakha-managoli commented on #108
You have been assigned this problem statement. All the best.

[2021-10-03 16:52] #48 closed

[2021-10-03 16:52] nilanshijain commented on #110
Assigned it!!
Happy Contributing!!

[2021-10-03 17:01] MashTerro commented on #40
Got it thanks alott.

[2021-10-03 17:08] srushti1006 commented on #3
Your PR is not created in the right way. You have to follow guidelines. Check the video that we shared with you

[2021-10-03 17:16] #15 closed

[2021-10-03 17:51] gauri-bitsandbytes commented on #33
Your code is correct. Please mention #issue_number in the comments here. If you are not getting, please check the recording which we have sent recently.

[2021-10-03 17:51] #105 closed

[2021-10-03 18:27] vishwadere commented on #106
I would like to work on this issue. please assign it to me.
name- Vishwa dere, SY CCOEW

[2021-10-03 19:01] srushti1006 commented on #16
Hey, your code is correct but you haven't added a question in the comment at the start of your solution.
Add comments too to your code ASAP

[2021-10-03 19:02] #6 closed

[2021-10-03 19:10] mrunal736 commented on #109
I am Mrunal Jambenal SY Comp A , CCEW Pune. I would like to work on this issue.

[2021-10-03 19:19] GayatriChaudhari1281 commented on #22
I'd like to work on this issue.
Gayatri Chaudhari-TY Comp

[2021-10-03 19:21] GayatriChaudhari1281 commented on #3
Can you check now?

[2021-10-03 19:39] NidhiMalpani commented on #16
Di I created a new pull request right now for the same
Thank you for you time.

On Mon, Oct 4, 2021 at 12:31 AM srushti1006 ***@***.***>
wrote:

[2021-10-03 19:41] srushti1006 commented on #3
I can't see your pr linked here. Just comment #issuenumber

[2021-10-03 19:45] #16 closed

[2021-10-03 19:54] GayatriChaudhari1281 commented on #3
#113

[2021-10-04 02:30] sakshi430 commented on #67
Hello, I am Sakshi Ingale from TY (CCEW). I would like to work on this issue.

[2021-10-04 02:36] sakshi430 commented on #35
Hello, I am Sakshi Ingale from TY (CCEW). I would like to work on this issue.

[2021-10-04 03:27] ashme1502 commented on #104
Hello, I'm Aishwarya Menon (SY EnTC) from CCOEW. Pune.
Can I work on this issue

[2021-10-04 03:33] ashme1502 commented on #106
Hello, I'm Aishwarya Menon from CCOEW, SY EnTC batch.
I'd like to work on this issue.

[2021-10-04 03:36] ashme1502 commented on #47
I have completed working on the previous issue.
Will you now assign it to me please

[2021-10-04 03:43] gauri-bitsandbytes commented on #33
Hey! Please make sure that you make the necessary change asap. Your PR will not be accepted after 48 hrs of assigning the issue

[2021-10-04 03:47] srushti1006 commented on #3
You have to add question at the start of your solution in comments and add comments to your code as well.

[2021-10-04 03:48] #31 closed

[2021-10-04 03:52] gauri-bitsandbytes commented on #35
Hey @sakshi43 , please mention #issue_number in the comments here when you make a PR. Also add the same in the description of PR.

[2021-10-04 04:00] Datta8517 commented on #107
Hola, Dattatrey is here from SCOE (Sy CS), Navi Mumbai
I'd like to work on this issue with better and understandable approach

[2021-10-04 04:06] vishakha-managoli commented on #109
You have been assigned this problem statement. All the best.

[2021-10-04 04:39] #42 closed

[2021-10-04 04:46] sakshi430 commented on #35
Sure. Thank you.

[2021-10-04 05:23] anushka0712 commented on #22
@GayatriChaudhari1281 please merge your prior assigned issue first and let me know after it, I will assign it.

[2021-10-04 05:25] GayatriChaudhari1281 commented on #3
Please check now I have committed the necessary changes and sent the pull request. issueNumber #113

[2021-10-04 05:33] esheetaparulekar commented on #67
Hello, can I work on this in Java?
Esheeta Parulekar- CCEW Pune

[2021-10-04 05:39] Aditi-Bornare commented on #49
Created pr #120

[2021-10-04 06:24] SakshiJoshi26 commented on #38
I need to unassign this issue because I didn't receive PR from you within 48 hours.

[2021-10-04 06:29] Amdbase1 commented on #38
Hi, I would to contribute in this, Please assign this issue to me.

[2021-10-04 06:30] sudhachintake commented on #38
i was doing it today

On Mon, Oct 4, 2021 at 11:54 AM SakshiJoshi26 ***@***.***>
wrote:

[2021-10-04 06:30] sudhachintake commented on #38
can i take an hr or so?

On Mon, Oct 4, 2021 at 11:59 AM Sudha Chintake ***@***.***>
wrote:

[2021-10-04 06:39] ashme1502 commented on #107
@Gaurika-Gupta
Done working on the problem.
Just created a pull request, waiting to be merged.

[2021-10-04 06:49] Shr03mink commented on #49
@Aditi-Bornare  you could mention issue no in PR description as that's a better approach. you can delete the above comment and maybe do it the other way :)

[2021-10-04 07:02] ashme1502 commented on #38
Hi, I'm Aishwarya from CCOEW (SY EnTC).
Can you please assign it to me.
I'd like to work on this issue.

[2021-10-04 07:17] ashme1502 commented on #68
Hello, I'm Aishwarya Menon from CCOEW (SY EnTC).
I'd like to work on this issue.

[2021-10-04 07:46] S3-26 commented on #33
Issue for #33

[2021-10-04 07:50] #3 closed

[2021-10-04 07:52] GayatriChaudhari1281 commented on #22
Please Assign me now, my previous  assigned issue has been merged.

[2021-10-04 08:02] n934 commented on #47
Hi I am Neha from CCEW, I would like to work on this issue, could you please assign it to me.

[2021-10-04 08:04] #33 closed

[2021-10-04 08:04] javachip8786 commented on #109
hello, I am arham. I would like to work on the problem. please assign it to me

[2021-10-04 08:22] #84 closed

[2021-10-04 08:42] divya-ganesh commented on #10
I'd like to work on this issue.
Divya Ganesh CCOEW, PUNE
SY-CSE

[2021-10-04 09:34] divya-ganesh commented on #45
My previous PR has been merged.
Do let me know if this opens up.

[2021-10-04 09:47] Gaurika-Gupta commented on #107
Add the question as a comment above the program.
Also, we noticed that your code is copied, but since you have changed the variable names and customized your comments, we are accepting it. Next time try to work harder and write your own solution. You have 48 hrs to submit.

[2021-10-04 10:16] nilanshijain commented on #11
@ArtiHere it seems you were unable to complete the problem statement in the given deadline(2days), so I unassigned you!!
Now, this issue is open to all again!!

[2021-10-04 10:34] ashme1502 commented on #107
Okk, sure. I will make the changes.
But I have not copied it.
I (practised) it in one of the coding platforms and that is why I took it to solve.

[2021-10-04 10:52] ashme1502 commented on #107
@Gaurika-Gupta
I have made the changes you asked for.
Can you please check again now.

[2021-10-04 10:57] #107 closed

[2021-10-04 11:34] Sans0709 commented on #11
I am Sanskruti Kanphade from SY. Can you assign me this issue please.

[2021-10-04 13:33] shrutigore commented on #11
I am Shruti Gore from second year and I would like to work on this! Please assign this issue to me.

[2021-10-04 13:39] shrutigore commented on #11
I am Shruti Gore from Second Year Cummins. Please assign me this issue.

[2021-10-04 14:33] shrutigore commented on #104
I am Shruti Gore from Second Year Cummins. Please assign me this issue.

[2021-10-04 15:02] shreya2208 commented on #109
I am Shreya Amritkar from SY IT CCEW. Please assign me this issue

[2021-10-04 15:03] shreya2208 commented on #100
I am Shreya Amritkar from SY IT CCEW. Please assign me this issue

[2021-10-04 15:49] Anuja1510 commented on #108
Submitted!! Please check.

[2021-10-04 16:58] Nandana1911 commented on #65
I'd like to work on this issue.
Nandana Nair
SY ENTC

[2021-10-04 16:59] srushti1006 commented on #100
This issue is already assigned. If the person doesn't create Pull request on time will assign you his issue

[2021-10-04 18:04] #17 closed

[2021-10-05 03:15] divya-ganesh commented on #45
@Shr03mink @deek121477

[2021-10-05 03:53] adititawale11 commented on #104
Im Aditi Tawale from CCEW PUNE, I would like to work on these issue. Please assign it to me.

[2021-10-05 03:54] adititawale11 commented on #11
I am Aditi Tawale from CCEW Pune. I want to work on these issue.

[2021-10-05 04:36] srushti1006 commented on #2
Create your PR by today 11:59 else will unassign this issue.

[2021-10-05 04:38] srushti1006 commented on #100
Make your PR before 11:59pm else will unassign you this issue

[2021-10-05 04:54] #108 closed

[2021-10-05 04:56] #109 closed

[2021-10-05 05:21] nilanshijain commented on #11
Assigned you !!
Happy Contributing!!

[2021-10-05 05:25] nilanshijain commented on #11
It seems you have successfully made 2 Pr in our repository(max allowed), so I request you to look out for other opportunities in the hacktoberfest and create Pr!!

[2021-10-05 05:30] #40 closed

[2021-10-05 05:31] nilanshijain commented on #104
@shreya2208 @adititawale11 @shrutigore It seems you all have already been assigned to another problem statement!! So, once you complete that let me know I might assign you if someone does not comment (on a first come first serve basis)!!!

[2021-10-05 05:32] nilanshijain commented on #104
It seems you have successfully made 2 Pr in our repository(max allowed), so I request you to look out for other opportunities in the hacktoberfest and create Pr!!

[2021-10-05 05:46] mrunal736 commented on #11
I had asked before to assign me the issue can you please assign me the issue. I am  Mrunal Jambenal SY Comp A, CCEW Pune.

[2021-10-05 05:55] gauri-bitsandbytes commented on #34
Please make sure that you make a PR within 48 hours after you have been assigned the issue :)

[2021-10-05 06:03] shreya2208 commented on #100
But this issue is resolved now. Why have u assigned it to me?

On Tue, 5 Oct 2021, 10:08 am srushti1006, ***@***.***> wrote:

[2021-10-05 06:19] srushti1006 commented on #100
I haven't assigned you this issue! This issue is assigned to some other person. If she doesn't create PR on time then I will assign you.

[2021-10-05 06:21] gauri-bitsandbytes commented on #35
Please make sure that you make a PR within 48 hours after the issue has been assigned :)

[2021-10-05 06:25] vaishnavisawant57 commented on #100
I have created a PR, kindly check.

[2021-10-05 06:50] ParnaviKulkarni commented on #49
I've merged your PR. Thank you for contributing to Mozilla CCEW. Happy contributing!

[2021-10-05 06:50] #49 closed

[2021-10-05 07:50] Vis2306 commented on #23
Your pull request is merged

[2021-10-05 07:50] #23 closed

[2021-10-05 08:12] srushti1006 commented on #100
You haven't created PR correctly. Link your issue number properly in the comment.
You just have to write "created solution for issue number #issue number"
If you are still confused check recording of revision session

[2021-10-05 08:20] Vis2306 commented on #26
Your issue has been merged

[2021-10-05 08:20] #26 closed

[2021-10-05 08:21] Vis2306 commented on #26
Your PR has been merged

[2021-10-05 08:25] srushti1006 commented on #65
assigned you this issue. Sorry for the delay

[2021-10-05 08:31] srushti1006 commented on #68
We allow to make only 2 PR's in our repo and you have are already done with it. Explore other repositories now

[2021-10-05 08:38] srushti1006 commented on #67
assigned you this issue

[2021-10-05 08:40] Shr03mink commented on #47
@ashme1502  we only allow 2 PRs. Please explore some good hacktoberfest-eligible open source projects to make the rest 2 PRs

[2021-10-05 08:41] srushti1006 commented on #67
assigned you this issue. Sorry for the delay

[2021-10-05 08:44] srushti1006 commented on #67
Explore other issues as of now, as this is assigned. If the person is unable to provide a solution in 2 days then will assign it to you.

[2021-10-05 08:44] Shr03mink commented on #45
@SanyuktaMuley Since you didn't submit your PR on time, we have unassigned you this issue
@divya-ganesh you can start working on this issue

[2021-10-05 08:53] nilanshijain commented on #11
Sorry for the inconvenience caused!! I have assigned you this issue !!
Happy contributing!!

[2021-10-05 08:54] nilanshijain commented on #104
Assigned you this issue !!
Happy contributing!!

[2021-10-05 09:02] divya-ganesh commented on #45
@deek121477
Have created PR. Code is in Python.
Thank you @Shr03mink

[2021-10-05 09:08] divya-ganesh commented on #10
I'd like to work on this issue.
Divya Ganesh CCOEW, PUNE
SY-CSE

[2021-10-05 09:20] seemsss20 commented on #66
Are you done with the solution? Since, deadline is today only.@Snehanaik369

[2021-10-05 09:24] ParnaviKulkarni commented on #10
@divya-ganesh As you have already worked on two problem statements (which is the maximum limit for this repository), I cannot assign this issue to you. I encourage you to look for different projects to contribute to on GitHub.

[2021-10-05 09:25] divya-ganesh commented on #10
I understand @ParnaviKulkarni . Thanks anyway! :)

[2021-10-05 09:29] MayureeS commented on #68
I am Mayuree Sawal from B.Tech IT CCOEW. I would like to work on this issue

[2021-10-05 09:37] seemsss20 commented on #68
You can work on this issue. Submit your solution within 2 days @MayureeS

[2021-10-05 11:49] Snehanaik369 commented on #66
Yes I am done but I am facing some problem in sending the PR.

On Tue, 5 Oct, 2021, 2:50 pm Seema Dhamgunde, ***@***.***>
wrote:

[2021-10-05 12:07] Snehanaik369 commented on #66
Ma'am I have done the whole process of PR twice but I am facing the same
issue. I have attached the screenshots of my command prompt and github. I
have sent the push request but it is not showing that pop up of compare and
pull request. Can you please let me know what the issue is?

On Tue, Oct 5, 2021 at 4:49 AM SNEHA NAIK ***@***.***> wrote:

[2021-10-05 13:04] prachigharde commented on #65
Hello. I am SY(IT) Student.
I would like to work on this issue.
Please assign me.

[2021-10-05 13:10] prachigharde commented on #38
hello.I am SY(IT) student in CCOEW.
i would like to work on this issue.
Can u please assign me.

[2021-10-05 14:38] priyanka989 commented on #47
I'd like to work on this issue.
Priyanka Dahikamble CCOEW, PUNE
TY-CSE

[2021-10-05 14:40] priyanka989 commented on #10
I'd like to work on this issue.
Priyanka Dahikamble CCOEW, PUNE
TY-CSE

[2021-10-05 15:29] #34 closed

[2021-10-05 15:52] #35 closed

[2021-10-05 15:52] gauri-bitsandbytes commented on #35
Yes, I have merged the solution :)

[2021-10-05 16:18] sakshi430 commented on #35
Thank you.

[2021-10-05 17:37] gauri-bitsandbytes opened #145 "Problem_Statement_82"
Given an array of strings queries and a string pattern, return a boolean array answer where answer[i] is true if queries[i] matches pattern, and false otherwise.

A query word queries[i] matches pattern if you can insert lowercase English letters pattern so that it equals the query. You may insert each character at any position and you may not insert any characters.

**Example 1:**
**Input:** quer

[2021-10-05 17:44] gauri-bitsandbytes opened #146 "Problem_Statement_83"
A recent survey suggested that almost everybody knows that a palindrome is a string which reads the same backwards as forwards. Recently, Blacky invented a brand-new concept: K-palindromes. A string is called a K-palindrome if it is possible to make it a usual palindrome by replacing at most K characters. For example, a string abb can be made a palindrome by replacing one character, the second b w

[2021-10-05 19:25] srushti1006 commented on #2
Fiza you haven't created your PR properly. Link it by writing in comments "created PR for #issuenumber". and add comments to your code as well. Your code is giving output as zero always check your code properly

[2021-10-06 03:24] #106 closed

[2021-10-06 03:35] prachigharde commented on #47
Hello. I am SY(IT) Student.
I would really like to work on this issue.
Can you please assign me?

[2021-10-06 05:29] Manasi12345-tech commented on #145
I would like to work on this issue. Please assign me this issue.
Manasi Jagtap ccoew btech

[2021-10-06 08:26] GayatriChaudhari1281 commented on #22
I have sent the PR for Problem statement 3 please check whether it is visible to you or not. IssueNumber #148

[2021-10-06 18:13] srushti1006 commented on #2
I will reject your PR as you haven't created correctly

[2021-10-06 18:36] anushka0712 commented on #22
@GayatriChaudhari1281 merged successfully! Congratulations!

[2021-10-06 18:36] #22 closed

[2021-10-06 19:12] yashasvi17rawat commented on #104
please assign me this issue.
i am Yashasvi Rawat (sy comp) ccoew

[2021-10-07 08:09] shivanithorve01 commented on #11
hello, I am Shivani Thorve from ( SY ENTC ) Cummins College. Could you please assign this issue to me ?

[2021-10-07 10:10] nilanshijain commented on #11
@mrunal736 It seems I have assigned you this issue 2 days back (our deadline), so I request you to create a Pr by tonight else I have to unassign you!!

[2021-10-08 04:12] Neha-Vaidya commented on #11
Hello, I am Neha Vaidya from SY IT Cummins college. I would like to work on this issue.

[2021-10-08 04:18] gauri-bitsandbytes commented on #146
Hey @priyanka989 , it seems that you have been already assigned some other issue. You will be assigned this issue only after the previous one gets closed :)

[2021-10-08 05:29] SakshiJoshi26 commented on #38
I'll have to unassign this issue now as it's more than 48 hours.

[2021-10-08 05:39] SakshiJoshi26 commented on #38
assigned.

[2021-10-08 05:54] #110 closed

[2021-10-08 07:58] nilanshijain commented on #11
Assigned you!!
Happy contributing!!

[2021-10-08 09:08] divya-ganesh commented on #45
@deek121477 Do let me know if there are any changes to br made to the PR or code.
Thanks :)

[2021-10-08 09:31] janhavikale06 commented on #41
I'm Janhavi Kale SY ENTC CCEW, can I work on this issue ?

[2021-10-09 09:54] akhila-nori commented on #41
Hello Janhavi, I have assigned you this issue!

[2021-10-10 04:02] shivanithorve01 commented on #104
Hello I am Shivani Thorve SY ENTC ..Can you assign this issue to me ?

[2021-10-10 04:27] yashasvi17rawat commented on #104
i am Yashasvi Rawat ..SY comp ccoew..can u please assign me this issue?

[2021-10-10 04:31] yashasvi17rawat commented on #65
i am Yashasvi Rawat..SY comp ccoew
please assign me this issue

[2021-10-10 04:40] yashasvi17rawat commented on #2
i am Yashasvi Rawat SY comp ccoew
please assign me this issue

[2021-10-10 04:53] Snehanaik369 commented on #38
I wanted to ask are we supposed to sort the spiral order output or the the initial matrix?

[2021-10-10 08:21] srushti1006 commented on #2
assigned you this issue make sure you make PR before 2 days
add a question in the comment at the beginning
comment and indent your code
Link your PR properly

[2021-10-10 10:06] ParnaviKulkarni commented on #10
@priyanka989 You were supposed to submit PR for the assigned issue in 48 hours. As it has been more than 48 hours I am unassigning you.

[2021-10-10 14:02] vaishnu7058 commented on #104
hi , i am vaishnavi mane from SY ENTC ccew i want to work on this issue so can you please assign this issue to me ?

[2021-10-10 14:23] vaishnu7058 commented on #41
hi, i am vaishnavi ,mane from SY ENTC CCOEW i would like to work on this issue can you please assign it to me?

[2021-10-10 14:39] vaishnu7058 commented on #43
hi, i am vaishnavi mane from SY ENTC CCOEW i would like to work on this issue can you please assign it to me?

[2021-10-10 15:01] akhila-nori commented on #43
I have assigned this issue to you Vaishnavi !

[2021-10-10 16:00] SanjanaSogimatt commented on #10
Hey, can I work on this issue? I am new to open source. It would be a great experience

[2021-10-10 18:32] #38 closed

[2021-10-11 04:32] srushti1006 commented on #2
Edited the problem statement, hope it is clear now. Sorry for the inconvenience.

Edited the problem statement, hope it is clear now. Sorry for the inconvenience.

[2021-10-11 05:25] Krush2311 opened #156 "Problem_Statement_86"
One hot summer day Jaya and her friend Rekha decided to buy watermelons. They chose the biggest crate. They rushed home, dying of thirst, and decided to divide their loot, however they faced a hard problem.

Jaya and Rekha are great fans of odd numbers, that's why they want to divide the number of watermelons in such a way that each of the two parts consists of an odd number of watermelons. Howeve

[2021-10-11 06:37] janhavikale06 commented on #156
Hello , I'm Janhavi Kale SY ENTC CCEW. I would like to work on this issue , can you please assign me ?

[2021-10-11 07:55] #45 closed, assigned to divya-ganesh

[2021-10-11 07:56] #46 closed, assigned to samruddhi-10

[2021-10-11 09:10] ManpreetKaur1469 commented on #156
This project seems interesting to me, can I contribute?

[2021-10-11 09:24] gauri-bitsandbytes commented on #146
Hey Manpreet, I am sorry but the issues of this Hacktoberfest repo is only for Cummins College students who have registered.

[2021-10-12 04:43] Krush2311 commented on #156
Sorry! This repository is for Cummins college students only.

[2021-10-12 04:59] ParnaviKulkarni commented on #10
@MayureeS I am assigning this issue to you. Submit the solution in next 48 hours and mention issue number in the PR description to link the PR to your issue. And try to implement this suggestion. All the best!!

[2021-10-12 05:09] ParnaviKulkarni commented on #10
Hi @SanjanaSogimatt great to see your interest in open source.
Are you a Cummins student? If you are, then please register first using the form sent by Mozilla CCEW and if you are not, you cannot contribute to this repository. Please look for some other projects participating in Hacktoberfest 2021.

[2021-10-12 13:07] SamruddhiR commented on #65
Hello, I am Samruddhi Rajole SY IT CCOEW. I would like to work on this issue so I request you to assign this issue to me.

[2021-10-12 16:57] janhavikale06 commented on #65
I have completed the previous issue , now can you please assign me?

[2021-10-13 07:45] #29 closed, assigned to radhika011

[2021-10-13 07:48] vishakha-managoli opened #161 "Problem_Statement_88"

[2021-10-13 08:17] srushti1006 commented on #2
@yashasvi17rawat submit your PR by today 11:59 PM

[2021-10-13 09:24] SamruddhiR commented on #41
OKk .I will do it

[2021-10-14 02:53] SamruddhiR commented on #65
Hello, I am Samruddhi Rajole SY IT CCOEW. I would like to work on this issue. Can you please assign me this issue

[2021-10-14 04:42] yashasvi17rawat commented on #2
i have updated the comment .

[2021-10-15 04:13] priyanka989 commented on #146
Yaa, I am done with previous one

[2021-10-15 04:52] ParnaviKulkarni commented on #10
Yes @MayureeS no worries. You have one more day to submit the solution.

[2021-10-16 07:25] yashasvi17rawat commented on #2
exactly which changes am i supposed to do?..you told me to mention the issue number correctly and i have corrected that .

[2021-10-16 07:28] srushti1006 commented on #2
In PR section I have mentioned few changes check that.

[2021-10-16 17:00] srushti1006 commented on #2
check where you created pull request I have attached a screenshot
![image](https://user-images.githubusercontent.com/68223864/137595966-aff57302-9a0d-4781-8aed-ea57633ab13e.png)

[2021-10-17 12:59] ParnaviKulkarni commented on #10
@MayureeS I've merged your Pull request. Thank you for contributing to Mozilla CCEW.

[2021-10-17 12:59] #10 closed

[2021-10-20 08:49] vishakha-managoli opened #167 "Website_1"
Make the website of the Mozilla CCEW responsive and provide solution for attached design . (for code check the Mozilla folder)

[2021-10-20 08:50] vishakha-managoli opened #168 "Website_2"
Design and add a Toggle button for the website.(for code check the Mozilla folder)

[2021-10-20 08:52] vishakha-managoli opened #169 "Website_3"
Changes required in the design of images of the Activities pages
Do the following- images should fit properly in the circle and replace the cyan colour around the picture with black colour.
(for code check the Mozilla folder)

[2021-10-20 08:58] vishakha-managoli opened #170 "Website_4"
Changes required in the Contact page
Do the following-Remove query field, increase the size of message field and also work on the backend of the contact page you should do the following-the data once submitted should be mailed to Mozilla mail id
Mozilla Club Mail Id- mozilla_club@cumminscollege.in

[2021-10-20 09:10] vishakha-managoli opened #171 "Website_5"
Changes required in the Footer - Add scroll back to top button at the end of the page ( scroll back to top is a button to return to the top of the page allows the user to quickly return to the top of the page without making too much effort.) (for the code refer Mozilla folder)

[2021-10-20 09:14] vishakha-managoli opened #172 "Website_6"
Design the Navigation Bar with mouse hover effect (for the code refer to Mozilla folder)

[2021-10-20 12:20] #41 closed

[2021-10-20 16:40] priyanka989 commented on #172
I would like to work on this

[2021-10-21 06:28] AkshayHere commented on #171
Hi, I would like to give this a try

[2021-10-26 13:17] #43 closed, assigned to ishashukla183

[2021-10-28 09:56] #47 closed, assigned to vaishnu7058

[2021-11-02 05:46] #2 closed

[2021-11-02 05:46] #146 closed

[2021-11-02 05:46] #167 closed

[2021-11-02 05:47] #172 closed

[2021-11-02 05:47] #171 closed

[2021-11-02 05:47] #170 closed

[2021-11-02 05:47] #169 closed

[2021-11-02 05:47] #168 closed